/* CSS Document */

body{
	font-family: "Calibri";
	margin:0;
	padding-bottom: 20px;
}

.slider {
	width: 100%;
	height: 300px;
    cursor: pointer;
	margin-top:-20px;
}
.slider > div > div {
	width: 33.4%;
	height: 100%;
	background-color: #0f0f0f;
	color: #e0e0e0;
	text-align: center;
	cursor: pointer;
}

.slider-overlay{
	width:100%;
	height:100%;
}

.event-image-thumb{
	float:left;
	width:170px;
	height:120px;
	
	padding-left: 15px;
	padding-right: 15px;
}

.event-thumbnail-div{
	height: 100%;
	width: 200px;
	float: left;
}

/*Main-Page content styles*/
.main-content-small{
	max-width:500px;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
}

#login-register-content{
    background-color: #f2f2f2;
    text-align: center;
    padding-bottom: 20px;
}

.login-form-table{
    margin-left:auto;
    margin-right: auto;
}

.event-select-button{
	color: #ffffff;
	background-color: #4CAF50;
	border: 0;
	height: 25px;
	margin-right:5px;
	float:right; 
	margin-top:70px;
}

.main-search-banner{
	width:100%;
	height:200px;
}

.events-wrapper{
	height:60%;
	width:100%;
	min-width:1420px;
}

.events-ul{
	list-style-type: none;
	padding-left:15px;
}

.event-li { 
	background: #f2f2f2; 
	padding-top:15px;
	height:200px;
	overflow: hidden;
}

.login-form-table td{
	vertical-align: top;
}

.event-li:hover {
	background: #cccccc;
}

.event-li:nth-child(odd):hover {
	background: #cccccc;
}

.event-li:nth-child(odd) {
	background: #e6e6e6; 
	overflow: hidden;
}

.events-list-div{
	float:left;
	width: 33%;
	min-width:470px;
	max-height: 100%;
}

.tour-content{
	width: 40%;
	margin-left:auto;
	margin-right:auto;
}

.tour-banner{
	width:100%;
	padding-bottom: 3px;
}

.tour-image-area{
	width:45%;
	padding-bottom: 3px;	
	float: left;	
}

.tour-image{
	width:100%;
	padding-bottom: 3px;
}

.tour-info{	
	width:50%;
	margin-left:10px;
	padding-bottom: 3px;
	margin-right:auto;	
	float:left;
}

.search-results-wrapper{
	margin-left: auto;
	margin-right: auto;
	width:50%;
	text-align: center;
}

.search-results-ul{
	list-style-type: none;
	padding-left:0px;
}

.search-results-li { 
	/*background: #f2f2f2;*/
	background-color: #0f0f0f;
	padding-top:15px;
	height:200px;
	overflow: hidden;
}

.search-results-li:hover {
	background: #cccccc;
}

.search-results-li:nth-child(odd):hover {
	background: #cccccc;
}

.search-results-li:nth-child(odd) {
	background: #e6e6e6; 
	overflow: hidden;
}

.user-name{
	float: right;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 10px;
	color: rgb(255, 255, 255);
}

/*-------------My Tickets----------*/
.order-history-content{
    margin-left: auto;
    margin-right: auto;
    width:50%;
    text-align:left;
}

.order-history-wrapper{
	width:100%;
    min-width:850px;
	text-align:left;
    float:left;
}

.ticket-history-table{
	width:100%;
}

.ticket-history-table th{
	background-color: #0f0f0f;
	color:#ffffff;
}

.ticket-history table tbody:nth-of-type(odd) .parent { background:red; }

.ticket-history-table td{
	padding-right:50px;
}
/*--------------------------------*/

.artist-events-table{
	width:100%;
}

.artist-events-table th{
	background-color: #0f0f0f;
	color:#ffffff;
}

.artist-events-table tr:nth-child(odd){
	background-color: #e0e0e0;
	vertical-align: middle;
}

.artist-events-table tr:nth-child(even){
	background-color: #eeeeee;
	vertical-align: middle;
}

.artist-events-table td{
	padding-right:50px;
	vertical-align: middle;
}

.table-button-form{
	margin:1px;
}


/*Index Styles*/
.index-listing{
	list-style-type: none;
	padding-left:0px;
}

.index-listing-li {
	background: #f2f2f2;
	padding-top:15px;
	height:160px;
	overflow: hidden;
	text-align: center;
}

.index-listing-li:hover {
	background: #cccccc;
}

.index-listing-li:nth-child(odd):hover {
	background: #cccccc;
}

.index-listing-li:nth-child(odd) {
	background: #e6e6e6;
	overflow: hidden;
}

.index-listing-wrapper{
	margin-left: auto;
	margin-right: auto;
	width:98%;
}

.index-listing-div{
	//margin-top: 15px;
	//margin-left: auto;
	//margin-right: auto;
	width:49%;
	text-align:center;
	float:left;
	margin-right: 10px;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

/*
.checkout-content {
    padding-top:100px;
    max-width:300px;
    margin-left:auto;
    margin-right:auto;
}*/
